
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<title>shopping online</title>

<!-- Bootstrap -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/Site.css" rel="stylesheet">
<link href="/stylesheets/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
<![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jsrender.js"></script>